.company-name {
	font-size: 1em !important;
	--company-name: 'Cheap Healthcare Plan';
	color: var(--primary);
}
.company-name:after {
	content: var(--company-name) !important;
}

.b {
	border: 5px solid red;
}

.birthday {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 2fr;
}


.req:after {
	color:var(--red);
	font-size:12px;
    content: '* required';
}
.optional:after {
	color:var(--green);
	font-size:12px;
    content: '(Optional)';
}

.fa-spinner {
	display: none;
}

.fa-arrow-circle-right {
	display: block;
}

.button:focus .fa-spinner {
	display: block;
}

.button:focus .fa-arrow-circle-right {
	display: none;
}

.fa-spinner.fa-spin {
	display: none;
}


[class*="alert"] {
	position: absolute;
	top:20%;
	padding: 20px;
	z-index: 9999999;
	color: white;
	font-weight: 600;
	font-size: 1.3em;
	font-family: 'Courier New', Courier, monospace;
}

[class*="alert"][class*="danger"] {
	background-color: #ff1100;
}

[class*="alert"][class*="success"] {
	background-color: #54a754;
}

 input:invalid {
	 color:red !important;;
  background: #fff3f3ba!important;
}

input:valid {
	color:red !important;;
  background: #eaf2ffbf !important;
}


#page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 768px;
}

[class*="column"].intro > div {
	margin: 32px 0px !important;
}

.ridirect {
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	background: #fff;
}

.ridirect:hover {
	opacity: 9;
	-webkit-box-shadow: 0 0 64px rgba(33, 33, 33, .2);
	box-shadow: 0 0 64px rgba(33, 33, 33, .2);
}

.press {
	cursor: pointer;
	z-index: 5000;
	max-width: 200px !important;
}



.cards img {
	height: 300px;
	-o-object-fit: cover;
	object-fit: cover;
}
/* 
.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
} */

#step1 {

	display: block;
}


[id*="step"] {
	animation-name: fadeIn;
	animation-duration: 1s;
}

form#userInfo > #userData, #stepLast,
[id*="step"] {
	display: none;
}

#userInfo {

	min-height: 500px;
	max-width: 800px;
	width: 100%;
	padding: 2em;
	background: #ffff;
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);

	margin: 32px 0px;
	font-family: 'PT Serif', serif;
}

#userInfo input {
	width: 100%;
	text-align: left;
	padding: 0.5em;
	background: #e0e0e0;
	border: none;
	font-size: 1.6em;
	border-radius: 8px;
	border: 1px solid rgba(221, 221, 221, 0.41);
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #b9b9b9;
}

::-moz-placeholder {
	color: #b9b9b9;
}

:-ms-input-placeholder {
	color: #b9b9b9;
}

:-moz-placeholder {
	color: #b9b9b9;
}

#userInfo input:hover {
	background: #eaeaea;
}


#userInfo input:focus,
#userInfo input:active {
	-webkit-box-shadow: 0px 0px 8px 4px var(--primary);
	box-shadow: 0px 0px 8px 4px var(--primary);
	outline: 0;
}

ul#userData {
	padding: 32px 0px;
	min-height: 400px;
}

#userData li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px solid #d0d0d093;
}

#userData span {
	width: 100%;
	padding: 1em;
}

#userData li:nth-of-type(odd) {
	background: #fafafa;
}

#userData li:nth-of-type(even) {
	background: #dcdbdb;
}

#userData span:nth-child(1) {
	border-right: 1px solid #c9c9c9;
	font-weight: 600;
}

#userData span:nth-child(2) {
	text-align: right;
	color: var(--primary);
	font-size: 1.2em;
}

.question {
	color: var(--primary);
	font-size: 2.2em;
	font-family: 'PT Sans', sans-serif;
	min-height: 100px;
}





.button {
	-ms-flex-item-align: end;
	align-self: flex-end;
	cursor: pointer;
	opacity: 7;
	margin-top: 3em;
	float: right;
	color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	animation-name: fadeIn;
	animation-duration: 1s;
}



.submission button:hover,
.button:hover {
	background: #006fa0;
}

.button.home {
	-ms-flex-item-align: center;
	align-self: center;
}

.submission {
	margin: 64px 0px;
}

.submission button {
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	animation-name: fadeIn;
	animation-duration: 1s;
}

.thankyou {
	max-width: 1028px;
}

.select {

	position: relative;
}

.select select {
	display: none;
}

.select-selected {
	height: 3em;
	width: 100%;
	text-align: left;
	background: #e0e0e0;
	border: none;
	font-size: 1.6em;
	border-radius: 8px;
	border: 1px solid rgba(221, 221, 221, 0.406);
	-webkit-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

.select-selected:hover {
	background: #eaeaea;
}


.select-selected:after {
	position: absolute;
	content: "";
	top: 30px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: var(--primary) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent var(--primary) transparent;
	top: 20px;
}

.select-items div,
.select-selected {
	color: #000;
	padding: 0.8em;
	font-weight: 600;
	font-size: 1.2em;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-items {
	position: absolute;
	background-color: #dfdfdf;
	color: #000;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	/* outline:1px solid gray; */
}

.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgb(168, 181, 203);
}




.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--primary);
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--primary);
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--primary);
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background: #222222e0;
	z-index: 1000;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */

.no-js #loader-wrapper {
	display: none;
}


.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 220px;
	background-color: rgba(0, 0, 0, 0.53);
	color: #fff;
	font-size: 16px;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}