/* General */

.company-name {
    font-size: 1em !important;
    --company-name: 'Cheap Healthcare Plan';
    color: var(--primary);

}



.company-name:after {
    content: var(--company-name) !important;
}

.button {
    cursor: pointer;
    opacity: 7;
    margin-top: 1em;
    float: right;
    color: #fff;
    border-radius: 4px;
}

/* home.html */

#page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 768px;
}

[class*="column"].intro>div {
    margin: 32px 0px !important;
}

.ridirect {
    box-shadow: var(--shadow);
    background: #fff;
}

.ridirect:hover {
    opacity: 9;
    -webkit-box-shadow: 0 0 64px rgba(33, 33, 33, .2);
    box-shadow: 0 0 64px rgba(33, 33, 33, .2);
}

.press {
    max-width: 200px !important;
}

.cards img {
    height: 300px;
    object-fit: cover;
}

/* form.html */

.question {
    color: var(--primary);
    font-size: 2.2em;
}




/* User Form */

form#userInfo>#show_all_data,
#step2,
#step3,
#step4,
#step5 {
    display: none;
}


#userInfo {
    min-height: 500px;
    max-width: 768px;
    width: 100%;
    padding: 2em;
    background: #ffff;
    box-shadow: var(--shadow);
    margin: 32px 0px;
}

#userInfo input {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    background: #fafafa;
    border: none;
    border: 1px solid rgba(221, 221, 221, 0.406);
    box-shadow: var(--shadow);
}

#userInfo input:focus,
#userInfo input:active {
    -webkit-box-shadow: 0px 0px 8px 4px var(--primary);
    -moz-box-shadow: 0px 0px 8px 4px var(--primary);
    box-shadow: 0px 0px 8px 4px var(--primary);
    outline: 0;
}

ul#show_all_data {
    min-height: 400px;
}

#show_all_data li {
    display: grid;
    grid-template-columns: 200px 1fr;
    border: 1px solid #d0d0d093;
}

#show_all_data span {
    width: 100%;
    text-indent: 0.5em;
}

#show_all_data li:nth-of-type(odd) {
    background: #fafafa;
}

#show_all_data li:nth-of-type(even) {
    background: #dcdbdb;
}

#show_all_data span:nth-child(1) {
    border-right: 1px solid #c9c9c9;
    font-weight: 600;
}

.submission {
    margin: 64px 0px;

}

.submission button {
    border-radius: 4px;
    color: #fff;
}

/* thankyou.html */

.thankyou {
    max-width: 1028px;
}



/* select */

.select {
    position: relative;

}

.select select {
    display: none;
}

.select-selected {
    height: 3em;

    background-color: var(--primary);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 26px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 15px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 12px 8px;
    font-weight: 600;
    font-size: 1.2em;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #0076a9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #00577d;
}



/* progressbar */
.progressbar {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background: transparent;
}

.percentage {
    font-size: 2em;
    opacity: 1;
    animation: fade 1s ease-in;
}

progress:after {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: #00577d;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        border-radius: 12px;
        background: #ddd;
        height: 10px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    transition: width 1s ease-in-out !important;
}

progress::-webkit-progress-value {
    width:auto;
    border-radius: 12px;
    background: var(--primary) !important;
    box-shadow: inset 0 -2px 4px var(--primary), 0 2px 5px 0px var(--primary);
}

@keyframes fade {

    0% {
        opacity: 0
    }


    50% {
        opacity: 1
    }


    100% {
        opacity: 9
    }
}








.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}